<div class="home-layout">
  <app-sidebar></app-sidebar>
  <div class="welcome">
    <two-factor-enabled>
      <ul>
        <% @codes.each do |code| %>
          <li><code><%= code %></code></li>
        <% end %>
      </ul>

      <p slot="back"><%= link_to "Done", root_path %></p>
    </two-factor-enabled>
  </div>
</div>
