<div class="home-layout">
  <app-sidebar></app-sidebar>
  <div class="welcome">
    <backup-codes>
      <div>
        <%= link_to "Back", profile_path %>
      </div>
    </backup-codes>
  </div>
</div>