<div class="home-layout">
  <app-sidebar></app-sidebar>
  <div class="welcome">
    <backup-codes-display>
      <ul>
        <% @codes.each do |code| %>
          <li><code><%= code %></code></li>
        <% end %>
      </ul>

      <p slot="back"><%= link_to "Back", identity_backup_codes_path %></p>
    </backup-codes-display>
  </div>
</div>
