<h1>Two‑factor authentication required</h1>
<p>Enter a code from your authenticator app or a backup code.</p>
<%= form_with url: identity_two_factor_challenge_path do |f| %>
  <div>
    <%= f.label :code, "Code" %><br>
    <%= f.text_field :code, autofocus: true, autocomplete: "one-time-code" %>
  </div>
  <div>
    <%= f.submit "Verify" %>
  </div>
<% end %>
